body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.18rem;
}

.cursor-pointer{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .text-10-primeros{
        font-size: 1.7rem;
    }

    .text-hero{
        font-size: 1.5rem;
    }
}

